*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg,#446c9b, #7195c4);
    color: white;
    font-family: "Noto Sans JP", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

.in-cupboard{
    margin: 0.5rem;

    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    position: absolute;
    left: 26rem;
    transition: all 0.5s ease;
}



.in-shopping{
    margin: 0.5rem;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    position: absolute;
    left: 80rem;
    transition: all 0.5s ease;
}

header,
form {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}



form button {
    color: #4596f1;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #4596f1;
    color: white;
}

.kitchen-container {
    display: flex;
    position: absolute;
    margin-top: 8rem;
    left: 20rem;
    justify-content: left;
    align-items: left;

}

.kitchen-list {
    min-width: 30rem;
    list-style: none;
}

.shopping-container {
    display: flex;
    position: absolute;
    left: 70rem;
    margin-top: 8rem;
    justify-content: left;
    align-items: left;

}

.shopping-list {
    min-width: 30rem;
    list-style: none;
}

.kitchen {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.kitchen li {
    flex: 1;
}

.shopping {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.shopping li {
    flex: 1;
}

.complete-btn,
.trash-btn {
    background: #0c2657;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background-color: #1a7543;
}

.kitchen-item {
    padding: 0rem 0.5rem;
    text-transform: capitalize;
}

.shopping-item {
    padding: 0rem 0.5rem;
    text-transform: capitalize;
}

.fa-trash, 
.fa-check {
    pointer-events: none;
}



.fall {
    transform: translateY(8rem);
    opacity: 0;
}
.toLeft {
    transform: translateX(-8rem);
    opacity: 0;
}

